<template>
	<div class="inp-holder">
		<input type="text" class='form-control' :data-type="componentType" :placeholder="componentType" />
		<!-- <div class='checking'>&#10004</div> -->
		<div class="status-holder">
			<div class="correct" v-if="status == 1">&#10004</div>
			<div class="uncorrect" v-else-if="status == 0">&#10006</div>
			<div class="uncorrect" v-else></div>
			
			<!-- <div class="help">{{ word }}</div> -->
		</div>
	</div>
</template>

<script>
export default {
	name: 'InputField',
	props: ['componentType', 'status', 'word'],
	
	data () {
		return {
			type: this.componentType,
		}
	},
	methods: {
		check() {

		}
	}
}
</script>

<style lang="css" scoped>
	.inp-holder {
		display: flex;
		align-items: center;
	}

	.checking {
		margin-left: 10px;
	}

	.status-holder {
		margin-left: 10px;
	}
</style>