<template>
	<div class="alert">
		<h3>hello, message</h3>
	</div>
</template>

<script>
	export default {
		name: 'Message',
		data () {
			return {
				
			}
		}
	}
</script>

<style scoped>
	
</style>
