<template>
	<div class="alert">
		<h1>Переведите:</h1>
		<hr>
		<br>
		<h3>{{word.translate}}</h3>
		<div class="answer-holder">
		
			<form v-on:submit.prevent="check">
				<input-field componentType='infinitive' :status="status.infinitive" :word='word.infinitive'></input-field>
				<input-field componentType='past' :status="status.past" :word='word.past'></input-field>
				<input-field componentType='participle' :status="status.participle" :word='word.participle'></input-field>
				<br>
				<button type='submit' class="btn btn-success">Проверить</button>
				<button class="btn btn-success" @click="nextWord">Next</button>

				<div class="btn btn-info" @click='helpbar = !helpbar'>Help</div>
			</form>
			
		</div>
		
		
		<div class="helper" v-if='helpbar'>
			<h5>infinitive: {{ word.infinitive }}</h5>
			<h5>past: {{ word.past }}</h5>
			<h5>participle: {{ word.participle }}</h5>
		</div>
	</div>
</template>

<script>
	import words from '../lib/words.js';
	export default {
		data() {
			return {
				word: words[mtRand(0, words.length)],
				status: {
					infinitive: null,
					past: null,
					participle: null,
				},
				typedWord: '',
				helpbar: false
			}
		},
		methods: {
			check(e) {
				let form = e.target;
				let inputs = form.querySelectorAll('input');
				inputs.forEach(el=>{
					let elValue = el.value.toLowerCase();
					el.style.border = '';
					if (elValue == '') {
						return;
					}
					if (elValue == this.word[el.dataset.type]) {
						this.status[el.dataset.type] = true
					} else {
						this.status[el.dataset.type] = false
					}
				})
			},
			nextWord() {
				for (let key in this.status) {
					this.status[key] = null;
				}
				this.word = words[mtRand(0, words.length)];
				document.querySelectorAll('input').forEach(el=>{
					el.value = null;
				});
				this.helpbar = false;
				console.log(this.status)
			}
		}
	}
	function mtRand(min, max) {
		return Math.floor(Math.random() * (max - min + 1)) + min;
	}

</script>

<style>
	.answer-holder {
		max-width: 400px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
	}

	.form-control {
		margin: 10px 0;
		display: inline-block;
	}

	.helper {
		background: #DFDFDF;
		border-radius: 5px;
		padding: 20px;
		max-width: 600px;
		margin: 20px auto;
	}

</style>
