<template>
	<div class="alert">
		<h1>Тренажер неправильных глаголов</h1>
		<hr>
		<button class="btn btn-success"
				@click="$emit('onStart')"
		>
			start
		</button>
	</div>
</template>

<script>
	export default {
		data () {
			return {
				msg: 'hello, master'
			}
		}
	}
</script>

<style>
	.alert {
		text-align: center;
		padding: 20px;
	}
</style>
