<template>
	<div id="app">
		<start-screen v-if="state == 'start'"
					@onStart='getStart'
		>
			
		</start-screen>
		<question v-else-if="state == 'question'"></question>
		<message v-else-if="state == 'message'"></message>
	</div>
</template>

<script>
	export default {
		name: 'app',
		data () {
			return {
				state: 'start',
				message: {
					correct: '',
				}
			}
		},
		methods: {
			getStart() {
				this.state = 'question'
			}
		}
	}

</script>

<style>

</style>
